.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 100%;
    min-height: 609px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 40px;

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(1.5);
    }

    @include mobile {
        width: 450px;
    }

    @include desktop {
        width: 528px;
        min-height: 581px;
    }
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close-icon {
    fill: #000000;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--hover-focus-color);
    }
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    color: var(--primary-text-color);

    @include desktop {
        line-height: 1.15;
    }
}

.input-wrapper {
    position: relative;
    margin-bottom: 10px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 35px;
    padding-right: 12px;
    outline: transparent;
    
    transition-property: border-color, cursor;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: var(--hover-focus-color);
        cursor: pointer;
    }
}

.modal-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    fill: #212121;

    transition-property: fill, cursor;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .modal-input:focus + & {
        fill: var(--hover-focus-color);
        cursor: pointer;
    }
}

.modal-textarea-field {
    margin-bottom: 20px;
}

.input-label {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    display: flex;
    margin-bottom: 4px;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: transparent;
    padding: 12px 16px;

    transition-property: border-color, cursor;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    
        @include desktop {
            font-size: 12px;
            line-height: 1.16;
        }
    }
    
    &:focus {
        border-color: var(--hover-focus-color);
        cursor: pointer;
    }
}

.modal-checkbox-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    gap: 8px;
}

.check-text {
    font-size: 12px;
    line-height: 1.16;   
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
    justify-content: center;

    @include desktop {
        font-size: 14px;
        line-height: 1.71; 
    }
}

.policy-link {
    font-size: 12px;
    line-height: 1.16;   
    letter-spacing: 0.03em;
    text-decoration-line: underline;    
    color: #2196F3;
    margin-left: 5px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #188CE8;
    }

    @include desktop {
        font-size: 14px;
        line-height: 1.71; 
    }
}

.check-text span {
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

    transition-property: background-color, border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .modal-check:checked + & {
        background-color: #2196F3;
        border: 1px solid transparent;
        fill: #FFFFFF;
    }
}

.modal-btn {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--btn-text-color);
    background: var(--secondary-btn-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 10px 52px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}